<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <script language="JavaScript" type="text/javascript">
            // countdown timer. took 6 because page takes approx 1 sec to load
            var seconds = 6;

            // variable for index.html url
            var url="/";
            
            // redirect to new url after counter  down.
            function redirect(){
                if (seconds <= 0){
                    window.location = url;
                } else {
                    seconds--;
                    document.getElementById("pageInfo").innerHTML="<h2>Internal Server Error - 500</h2><br/>Redirecting to Home Page after "+seconds+" seconds. <br/>If you are not automatically redirected then click <a href='/'>here</a>."
                    setTimeout("redirect()", 1000)
                }
            }
        </script>
        <!-- Tailwind CSS -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    </head>
    <body onload="redirect()">
        {% include 'errors.html' %}
    </body>
</html>