<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="app/static/favicon.ico" type="image/x-icon">
    <!-- Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

    <title>Find A Name</title>
</head>

<body>

    {% include 'header.html'%}

    <section
        class="border border-gray-500 bg-gray-800 rounded-md p-4 mt-6 mb-2 mx-auto w-3/4 flex justify-evenly items-center flex-col lg:flex-row">
        <form method="GET" action="" class="my-auto">
            <input type="search" name="projectName" required autocomplete="off"
                placeholder="Search for the name of your future project..."
                class="w-48 lg:w-64 px-4 py-1 border-gray-500 border-box rounded bg-gray-900 placeholder-opacity-100" />
            <button type="submit" class="bg-green-500 border-box rounded px-4 py-1 mx-8">
                Search
            </button>
        </form>
    </section>

    <main>

        {% if response %}

        <div class="result">Here are the results for the search: {{response.projectName}}</div>
        <div class="table">
            <table id="sources">
                <thead>
                    <tr>
                        <th class="table_header">
                            <b>Checked the following sources for you!</b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="table_subheader">Libraries for Languages</th>
                    </tr>
                    <tr>
                        <td id="pypi">PyPi</td>
                        <td id="avail_pypi" class="emoji">
                            {% if response.pypi == True %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm108.25 138.29l-134.4 160a16 16 0 01-12 5.71h-.27a16 16 0 01-11.89-5.3l-57.6-64a16 16 0 1123.78-21.4l45.29 50.32 122.59-145.91a16 16 0 0124.5 20.58z" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm75.31 260.69a16 16 0 11-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 01-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0122.62-22.62L256 233.37l52.69-52.68a16 16 0 0122.62 22.62L278.63 256z" />
                            </svg>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td id="npm">NPM</td>
                        <td id="avail_npm" class="emoji">
                            {% if response.npm == True %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm108.25 138.29l-134.4 160a16 16 0 01-12 5.71h-.27a16 16 0 01-11.89-5.3l-57.6-64a16 16 0 1123.78-21.4l45.29 50.32 122.59-145.91a16 16 0 0124.5 20.58z" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm75.31 260.69a16 16 0 11-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 01-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0122.62-22.62L256 233.37l52.69-52.68a16 16 0 0122.62 22.62L278.63 256z" />
                            </svg>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td id="gems">Ruby Gems</td>
                        <td id="avail_rubyGems" class="emoji">
                            {% if response.rubyGems == True %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm108.25 138.29l-134.4 160a16 16 0 01-12 5.71h-.27a16 16 0 01-11.89-5.3l-57.6-64a16 16 0 1123.78-21.4l45.29 50.32 122.59-145.91a16 16 0 0124.5 20.58z" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm75.31 260.69a16 16 0 11-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 01-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0122.62-22.62L256 233.37l52.69-52.68a16 16 0 0122.62 22.62L278.63 256z" />
                            </svg>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td id="cpp">CPP Reference</td>
                        <td id="avail_cpp" class="emoji">
                            {% if response.cppReference == True %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm108.25 138.29l-134.4 160a16 16 0 01-12 5.71h-.27a16 16 0 01-11.89-5.3l-57.6-64a16 16 0 1123.78-21.4l45.29 50.32 122.59-145.91a16 16 0 0124.5 20.58z" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm75.31 260.69a16 16 0 11-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 01-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0122.62-22.62L256 233.37l52.69-52.68a16 16 0 0122.62 22.62L278.63 256z" />
                            </svg>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="table_subheader">Code Hosting Platforms</th>
                    </tr>
                    <tr>
                        <td id="github">Github</td>
                        <td id="avail_github" class="emoji">
                            {% if response.githubRepos == True %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm108.25 138.29l-134.4 160a16 16 0 01-12 5.71h-.27a16 16 0 01-11.89-5.3l-57.6-64a16 16 0 1123.78-21.4l45.29 50.32 122.59-145.91a16 16 0 0124.5 20.58z" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm75.31 260.69a16 16 0 11-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 01-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0122.62-22.62L256 233.37l52.69-52.68a16 16 0 0122.62 22.62L278.63 256z" />
                            </svg>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="table_subheader">Linux Distro Repositories</th>
                    </tr>
                    <tr>
                        <td class="aur">Arch User Repositories</td>
                        <td id="avail_aur" class="emoji">
                            {% if response.aurRepos == True %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm108.25 138.29l-134.4 160a16 16 0 01-12 5.71h-.27a16 16 0 01-11.89-5.3l-57.6-64a16 16 0 1123.78-21.4l45.29 50.32 122.59-145.91a16 16 0 0124.5 20.58z" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm75.31 260.69a16 16 0 11-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 01-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0122.62-22.62L256 233.37l52.69-52.68a16 16 0 0122.62 22.62L278.63 256z" />
                            </svg>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="debian">Debian Packages</td>
                        <td id="avail_debian" class="emoji">
                            {% if response.debianRepos == True %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm108.25 138.29l-134.4 160a16 16 0 01-12 5.71h-.27a16 16 0 01-11.89-5.3l-57.6-64a16 16 0 1123.78-21.4l45.29 50.32 122.59-145.91a16 16 0 0124.5 20.58z" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm75.31 260.69a16 16 0 11-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 01-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0122.62-22.62L256 233.37l52.69-52.68a16 16 0 0122.62 22.62L278.63 256z" />
                            </svg>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="launchpad">Launchpad PPAs</td>
                        <td id="avail_launchpad" class="emoji">
                            {% if response.launchpadRepos == True %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm108.25 138.29l-134.4 160a16 16 0 01-12 5.71h-.27a16 16 0 01-11.89-5.3l-57.6-64a16 16 0 1123.78-21.4l45.29 50.32 122.59-145.91a16 16 0 0124.5 20.58z" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" width="25px" height="25px">
                                <path
                                    d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm75.31 260.69a16 16 0 11-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 01-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0122.62-22.62L256 233.37l52.69-52.68a16 16 0 0122.62 22.62L278.63 256z" />
                            </svg>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% endif %}

    </main>

    {% include 'footer.html' %}

</body>

</html>